@charset "utf-8";
/* CSS Document */
* {
	font-family: iranyekan;
}

.bg-custom{
    background-color: #2F2F2F;
}

.custom-button{
    border-radius: 14px;
    background-color: #27B311;


}
.custom-button:hover{
    border-radius: 14px;
    transition: .3s; 
    background-color: #2F2F2F;
    color: #27B311;
    border-color:   #27B311;

}